{% extends 'base.html' %}
{% load static %}

{% block title %} About Us | CareerBridge {% endblock title %}


{% block content %}


<!-- HERO SECTION -->

<div class="about-hero-sec d-flex align-items-center justify-content-center text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="offset-lg-7 col-lg-5 col-md-12 col-sm-12">
                <h1 class="display-5 fw-bold" data-aos="zoom-out-down" data-aos-duration="1000" data-aos-easing="linear">About Us</h1>
                <div class="breadcrum-link d-flex justify-content-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb p-3 mb-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}" class="text-decoration-none text-primary fw-bold link">Home</a>
                            </li>
                            <li class="breadcrumb-item active fw-semibold text-dark" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- CONTENT SECTION -->

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-5">
            <h6 class="fw-bold text-primary mb-2">What we do...?</h6>
            <h3 class="fw-semibold">We are a platform dedicated to connecting talent with opportunity</h3>
            <p class="lead">Every career journey starts with a single step. We are here to guide that step. Born from the idea that job hunting and hiring should be stress-free, we created a platform that brings opportunity and talent closer than ever before. Today, thousands of seekers and recruiters trust us to make the right connections—and this is just the beginning of our journey together.</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-center" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500" data-aos-delay="500">
            <img src="{% static 'images/about_1.jpeg' %}" alt="image" class="object-fit-cover img-fluid shadow-sm rounded object-fit-cover" style="max-height: 400px; object-fit: cover;" >
        </div>
    </div>
</div>



<!-- CARD SECTION -->

<div class="container">
    <div class="row text-center">
        <h4 class="fw-bold fs-2 mb-3" style="color: #09453d;">How its Works</h4>
        <p style="font-size: 1.2rem">Find jobs that match your skills, apply easily, and grow your career with confidence.</p>
    </div>
</div>

<div class="container my-4">
    <div class="row text-center g-4">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card p-4 custom-shadow rounded-4 h-100" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <i class="bi bi-person-bounding-box"></i>
                <h6 class="mt-3 fw-bold">Create Account</h6>
                <p>Unlock your potential and connect with endless opportunities by creating an account</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card p-4 custom-shadow rounded-4 h-100" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <i class="bi bi-file-earmark-medical"></i>
                <h6 class="mt-3 fw-bold">Build Resume</h6>
                <p>Upload your resume in just a few clicks. Highlight your skills</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card p-4 custom-shadow rounded-4 h-100" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <i class="bi bi-search"></i>
                <h6 class="mt-3 fw-bold">Find Jobs</h6>
                <p>Search jobs by title, skill, location, or company</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card p-4 custom-shadow rounded-4 h-100" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <i class="bi bi-check2-circle"></i>
                <h6 class="mt-3 fw-bold">Apply Job</h6>
                <p>Apply to jobs instantly and Track your applications</p>
            </div>          
        </div>
    </div>
</div>




<!-- CONTENT SECTION-2 -->
<div class="container mt-3">
    <div class="row align-items-center my-5">
        <div class="col-lg-6 col-md-12 col-sm-12 text-start" data-aos="flip-up" data-aos-delay="500" data-aos-duration="1000">
            <img src="{% static 'images/about_2.png' %}" alt="image" class="img-fluid shadow-sm w-60 rounded" style="max-height: 400px; object-fit: cover;" >
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
            <h6 class="fw-semibold text-primary fw-bold">Our Mission</h6>
            <h3 class="fw-semibold">Our mission is to transform the way people find jobs</h3>
            <p class="lead">We are dedicated to helping individuals discover meaningful career paths while supporting organizations in finding the right people to drive their growth. By combining innovation, simplicity, and trust, we aim to make job searching and hiring a seamless experience. More than just a platform, we are a partner in building futures, nurturing potential, and shaping success stories that inspire.</p>
        </div>
    </div>
</div>




<!-- TESTIMONIAL SECTION -->

<div class="container my-3  testimonial">
    <h6 class="fw-semibold text-primary mt-4 text-center fw-bold">Testimonial</h6>
    <h2 class="text-center fw-normal display-5 mb-4">Happy <span style="font-family: Georgia, 'Times New Roman', Times, serif;">Clients</span> </h2>
    <div class="row g-4">
        <div class="col-lg-4 col-md-12 col-12">
            <div class="card shadow-sm h-100 text-center p-3 testimonial">
                <div class="text-center">
                    <img src="{% static 'images/client1.png' %}" class="rounded-circle img-thumbnail" alt="user1">
                </div>
                <div class="card-body">
                    <p class="card-text fst-italic">"This platform made my job search so easy. I landed my dream role within weeks!"</p>
                    <h6 class="fw-bold">Priya Sharma</h6>
                    <small class="text-muted">Software Developer</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-12">
            <div class="card shadow-sm h-100 text-center p-3 testimonial">
                <div class="text-center">
                    <img src="{% static 'images/client2.png' %}" class="rounded-circle img-thumbnail" alt="user2">
                </div>
                <div class="card-body">
                    <p class="card-text fst-italic">"As an employer, I found great talent effortlessly. Highly recommended!"</p>
                    <h6 class="fw-bold">Rohit Verma</h6>
                    <small class="text-muted">HR Manager</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-12">
            <div class="card shadow-sm h-100 text-center p-3 testimonial">
                <div class="text-center">
                    <img src="{% static 'images/client3.png' %}" class="rounded-circle img-thumbnail" alt="user3">
                </div>
                <div class="card-body">
                    <p class="card-text fst-italic">"The resume builder and job alerts saved me so much time!"</p>
                    <h6 class="fw-bold">Neha Gupta</h6>
                    <small class="text-muted">Marketing Specialist</small>
                </div>
            </div>
        </div>
    </div>
</div>












{% endblock content %} 





{% block style %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
{% endblock style %}




